<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Position</th>
    <th>Hired</th>
    <th>Wage</th>
    <th>Note</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.position %></td>
    <td><%= employee.hired %></td>
    <td><%= employee.wage %></td>
    <td><%= employee.note %></td>
    <td><%= employee.address.list %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
